In [33]:
# This code takes parameters from model_parameters and checks how 
# reasonable they are according to the model

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

parameters = pd.read_csv("../../Cleaned Data/model_parameters.csv")

values = parameters[["value"]].to_numpy()
# values
# parameters
[r, B, tau, tau_o, delta, delta_o, delta_hat, u, zeta, pi,
 phi, psi, lam, l, q, b, eta, eta_o, chi, y_low, y_high, gamma, gamma_o] = values[:]

parameters

     variable      value
0           r   0.000939
1           B   0.999000
2         tau  97.000000
3       tau_o  74.000000
4       delta   0.007120
5     delta_o   0.009323
6   delta_hat   0.000000
7           u   0.056677
8        zeta   0.060419
9          pi   0.072682
10        phi   0.000000
11        psi   0.000000
12        lam   3.000000
13          l   0.206299
14          q   0.000000
15          b   0.000000
16        eta   0.500000
17      eta_o   0.000000
18        chi   0.000000
19      y_low   0.000000
20     y_high   0.000000
21      gamma   0.000000
22    gamma_o   0.000000

In [43]:
# How reasonable are job finding and separation rates? Use Model to compare to unemployment
job_loss = delta * (1 - zeta) + delta_o * zeta
u_model = job_loss / (job_loss + l)
print(f"In data, u is {u}. According to job flows, in model is {u_model}")

# How could this be better? What if lam is 5 instead of 3 (about .55 quantile rather than median)
l_2 = 1 - .5 ** (1 / (lam + 1))
u_model_2 = job_loss / (job_loss + l_2)
print(f"If l were {l_2}, according to job flows in model, u would be {u_model_2}")

In data, u is [0.05667705]. According to job flows, in model is [0.03396565]
If l were [0.15910358], according to job flows in model, u would be [0.04360178]

In [49]:
# According to model, these should be the same
v_ratio_1 = (1 - pi) / pi
v_ratio_2 = (1 - zeta) * delta / (zeta * delta_o)
print(f"Does {v_ratio_1} = {v_ratio_2}?")
(1 - zeta) * delta / (zeta * delta_o)

Does [12.75857152] = [11.87690281]?

array([12.30331134])

3.0